body {

  margin: 0;

  font-family: Arial, sans-serif;

  background: #f4f4f4;

}

header {

  background: #000;

  color: white;

  text-align: center;

  padding: 15px;

}

.logo {

  width: 80px;

  margin-bottom: 5px;
  
